// ==========================================================================
// Компонент формы
// ==========================================================================

// Label текстового поля
// font-size - размер шрифта
// color-text - цвет текста
@mixin form-label($font-size: $font-size-normal, $color-text: $form-color-font) {
    display: block;

    color: $color-text;
    font-size: $font-size;
    font-weight: normal;

    margin: 0 0 $form-spacing;
    padding: rem(($form-spacing / 2)) 0;
}

// Создание input
// max-width - максимальная длина
// font-size - размер текста
// color-text - цвет текста
// color-bg - цвет фона
// color-border - цвет обводки
// color-shadow - цвет тени
@mixin form-input($max-width, $font-size: $font-size-normal, $color-text: $form-color-font, $color-bg: $form-color-bg, $color-border: transparent, $color-shadow: transparent) {
    $color-bg-hover: darken($color-bg, 4%);
    $color-border-hover: darken($color-border, 4%);
    $color-shadow-hover: darken($color-shadow, 10%);
    $height: ($font-size + ($form-spacing * 1.5) - rem(1));

    color: $color-text;
    font-size: $font-size;
    font-family: $font-family-normal;

    max-width: $max-width;
    height: $height;

    margin: 0 $form-spacing 0 0;
    padding: $form-spacing / 2;

    border: $form-border-size $color-border;
    border-radius: $form-border-radius;

    background-color: $color-bg;

    @if ($form-option-shadow) {
        box-shadow: $form-shadow-size $color-shadow;
    }

    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-weight: normal;

    white-space: nowrap;
    vertical-align: middle;

    @include hover {
        outline: none;
        transition: all .2s linear;

        border: $form-border-size $color-border-hover;
        background-color: $color-bg-hover;

        @if ($form-option-shadow) {
            box-shadow: $form-shadow-size $color-shadow-hover;
        }
    }

    @include focus {
        outline: none;
        transition: all .2s linear;

        border: $form-border-size $color-border-hover;
        background-color: $color-bg-hover;

        @if ($form-option-shadow) {
            box-shadow: $form-shadow-size $color-shadow-hover;
        }
    }
}

// Создание select
// max-width - максимальная длина
// font-size - размер текста
// color-text - цвет текста
// color-bg - цвет фона
// color-border - цвет обводки
// color-shadow - цвет тени
// img-dwopdown - изобржение стрелки для выпадающего списка
@mixin form-select($max-width, $font-size: $font-size-normal, $color-text: $form-color-font, $color-bg: $form-color-bg, $color-border: transparent, $color-shadow: transparent, $img-dwopdown: $form-select-img-dropdown) {
    $color-bg-hover: darken($color-bg, 4%);
    $color-border-hover: darken($color-border, 4%);
    $color-shadow-hover: darken($color-shadow, 10%);
    $height: ($font-size + ($form-spacing * 1.5) - rem(1));

    color: $color-text;
    font-size: $font-size;
    font-family: $font-family-normal;

    max-width: $max-width;
    height: $height;
    margin: 0 $form-spacing 0 0;
    padding: $form-spacing / 2;

    border: $form-border-size $color-border;
    border-radius: $form-border-radius;

    background-color: $color-bg;

    @if ($form-option-shadow) {
        box-shadow: $form-shadow-size $color-shadow;
    }

    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-weight: normal;

    appearance: none;
    white-space: nowrap;
    vertical-align: middle;

    background-image: url($img-dwopdown);
    background-origin: content-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 12px 12px;

    @include hover {
        outline: none;
        transition: all .2s linear;

        border: $form-border-size $color-border-hover;
        background-color: $color-bg-hover;

        @if ($form-option-shadow) {
            box-shadow: $form-shadow-size $color-shadow-hover;
        }
    }

    @include focus {
        outline: none;
        transition: all .2s linear;

        border: $form-border-size $color-border-hover;
        background-color: $color-bg-hover;

        @if ($form-option-shadow) {
            box-shadow: $form-shadow-size $color-shadow-hover;
        }
    }

    &::-ms-expand {
        display: none;
    }

    &[multiple] {
        height: auto;
        background-image: none;
    }
}

// Создание ckeckbox
// color-bg - цвет фона
// color-border - цвет обводки
// color-shadow - цвет тени
// img-checked - изобржение галочки при checked элемента
@mixin form-checkbox($color-bg: $form-color-bg, $color-border: transparent, $color-shadow: transparent, $img-checked: $form-checkbox-img-checked) {
    $color-bg-hover: darken($color-bg, 4%);
    $color-border-hover: darken($color-border, 4%);
    $color-shadow-hover: darken($color-shadow, 10%);
    $size: ($form-spacing * 1.5) - rem(1);

    width: $size;
    height: $size;

    border: $form-border-size $color-border;
    border-radius: $form-border-radius;

    background-color: $color-bg;
    margin: 0 rem($form-spacing / 2) 0 0;

    @if ($form-option-shadow) {
        box-shadow: $form-shadow-size $color-shadow;
    }

    display: inline-block;
    appearance: none;
    white-space: nowrap;
    vertical-align: middle;

    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 12px;

    &:checked,
    .checked {
        background-image: url($img-checked);
    }

    @include hover {
        transition: all .2s linear;
        outline: none;
        cursor: pointer;

        border: $form-border-size $color-border-hover;
        background-color: $color-bg-hover;

        @if ($form-option-shadow) {
            box-shadow: $form-shadow-size $color-shadow-hover;
        }
    }

    @include focus {
        transition: all .2s linear;
        outline: none;

        border: $form-border-size $color-border-hover;
        background-color: $color-bg-hover;

        @if ($form-option-shadow) {
            box-shadow: $form-shadow-size $color-shadow-hover;
        }
    }
}

// Создание radio
// color-bg - цвет фона
// color-border - цвет обводки
// color-shadow - цвет тени
// img-checked - изобржение галочки при checked элемента
@mixin form-radio($color-bg: $form-color-bg, $color-border: transparent, $color-shadow: transparent, $img-checked: $form-radio-img-checked) {
    $color-bg-hover: darken($color-bg, 4%);
    $color-border-hover: darken($color-border, 4%);
    $color-shadow-hover: darken($color-shadow, 10%);
    $size: ($form-spacing * 1.5) - rem(1);

    width: $size;
    height: $size;

    border: $form-border-size $color-border;
    border-radius: 50%;

    background-color: $color-bg;
    margin: 0 rem($form-spacing / 2) 0 0;

    @if ($form-option-shadow) {
        box-shadow: $form-shadow-size $color-shadow;
    }

    display: inline-block;
    appearance: none;
    white-space: nowrap;
    vertical-align: middle;

    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 12px;

    &:checked,
    .checked {
        background-image: url($img-checked);
    }

    @include hover {
        transition: all .2s linear;
        outline: none;
        cursor: pointer;

        border: $form-border-size $color-border-hover;
        background-color: $color-bg-hover;

        @if ($form-option-shadow) {
            box-shadow: $form-shadow-size $color-shadow-hover;
        }
    }

    @include focus {
        transition: all .2s linear;
        outline: none;

        border: $form-border-size $color-border-hover;
        background-color: $color-bg-hover;

        @if ($form-option-shadow) {
            box-shadow: $form-shadow-size $color-shadow-hover;
        }
    }
}

// Создание класса для валидации форм
// color-text - цвет текста
// color-bg - цвет фона
// color-border - цвет обводки
@mixin form-validate($color-text: $form-color-font, $color-bg: $form-color-bg, $color-border: transparent) {
    color: $color-text;
    border-color: $color-border;
    background-color: $color-bg;
    transition: all .2s linear;

    @include hover {
        color: $color-text;
        border-color: $color-border;
        background-color: $color-bg;
    }

    @include focus {
        color: $color-text;
        border-color: $color-border;
        background-color: $color-bg;
    }
}
