// ==========================================================================
// Компонент сетки
// ==========================================================================

@mixin grid($columns) {
    @include span($columns);

    // Правка стандартной сетки
    display: inline-block;
    float: none;

    // Режим отладки
    @if ($grid-option-debug) {
        background: rgba(255, 0, 0, 0.1);
    }

    // Если экран меньше ноутбука, растягиваем во всю ширину
    &.notebook {
        @include media(mobile) {
            display: block;
        }
    }

    // Если экран меньше широкоформатного монитора, растягиваем во всю ширину
    &.desktop {
        @include media(mobile) {
            display: block;
        }

        @include media(notebook) {
            display: block;
        }
    }
}