// ==========================================================================
// Компонент модального окна
// ==========================================================================

// Фоновое затемнение и контейнер для модального окна
// bg - фон оверлея
@mixin modal-overlay($bg: $modal-color-overlay) {
    width: 100%;
    height: 100%;
    background: $bg;

    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;

    justify-content: center;
    align-items: center;

    visibility: hidden;
    display: none;

    &.show {
        visibility: visible;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

// Модальное окно
// max-width - максимальная ширина модального окна
// padding - внутренний отступ
// border-radius - закругление краев
// bg - фоновый цвет модального окна
@mixin modal-body($max-width: $modal-max-width, $padding: $modal-padding, $border-radius: $modal-border-radius, $bg: $modal-color-bg) {
    width: 100%;

    max-width: $max-width;
    padding: $padding;
    border-radius: $border-radius;
    background: $bg;

    margin: auto;
    position: relative;
}
