// ==========================================================================
// Компонент слайдер
// ==========================================================================

@mixin slider-main($width: 100%, $height: 300) {
    width: $width;
    max-width: 100%;
    height: rem($height);
    display: block;
    overflow: hidden;
    position: relative;
}

@mixin slider-body($width: 100%, $height: 300) {
    width: $width;
    max-width: 100%;
    height: rem($height);

    display: flex;

    position: relative;
    top: 0;
    left: 0;

    transition: all .5s linear;
}

@mixin slider-slide($width: 100%, $height: 300, $padding: 0) {
    min-width: $width;
    max-width: 100%;
    height: rem($height);
    padding: $padding;

    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;

    position: relative;
    top: 0;
    left: 0;
}
