// ==========================================================================
// Компонент кнопки
// ==========================================================================

// Создание кнопки
@mixin button($color-bg, $padding: 0, $max-width: inherit, $blink: false) {
	$color-bg-hover: darken($color-bg, 10%);

	@include hover {
		text-decoration: none;
		outline: none;
		background: $color-bg-hover;
	}
	@include focus {
		text-decoration: none;
		outline: none;
		background: $color-bg-hover;
	}

	display: inline-block;
	max-width: $max-width;
	padding: $padding;
	cursor: pointer;
	user-select: none;
	transition: all 0.2s linear;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-decoration: none;
	border: none;
	outline: none;
	background: $color-bg;

	// Эффект поблескивания
	@if ($blink) {
		$blink-color: lighten($color-bg, 5%);

		position: relative;
		overflow: hidden;

		&:before {
			position: absolute;
			top: -20%;
			left: -100%;
			width: 7px;
			height: 140%;
			content: '';
			transform: rotate(25deg);
			animation-name: animateBlink;
			animation-duration: 2s;
			animation-delay: 2s;
			animation-iteration-count: infinite;
			background: $blink-color;
			box-shadow: 0 0 20px 20px $blink-color;

			animation-fill-mode: both;
		}

		@keyframes animateBlink {
			0% {
				left: -100%;
			}

			100% {
				left: 200%;
			}
		}
	}
}
