// ==========================================================================
// Компонент формы
// ==========================================================================

// Создание input
@mixin input($font, $color-bg, $padding: 0, $max-width: inherit) {
	$color-bg-hover: darken($color-bg, 3%);

	@include hover {
		transition: all 0.2s linear;
		outline: none;
		background-color: $color-bg-hover;
	}
	@include focus {
		transition: all 0.2s linear;
		outline: none;
		background-color: $color-bg-hover;
	}

	font: $font;
	font-weight: normal;
	display: inline-block;
	width: 100%;
	max-width: $max-width;
	padding: $padding;
	vertical-align: middle;
	white-space: nowrap;
	background-color: $color-bg;
}

// Создание select
@mixin form-select($font, $color-bg, $img-dwopdown, $padding: 0, $max-width: inherit) {
	$color-bg-hover: darken($color-bg, 4%);

	@include hover {
		transition: all 0.2s linear;
		outline: none;
		background-color: $color-bg-hover;
	}
	@include focus {
		transition: all 0.2s linear;
		outline: none;
		background-color: $color-bg-hover;
	}

	font: $font;
	font-weight: normal;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	max-width: $max-width;
	padding: $padding;
	vertical-align: middle;
	white-space: nowrap;
	background: $color-bg url($img-dwopdown) no-repeat right center;
	background-origin: content-box;
	background-size: 12px 12px;

	appearance: none;

	&::-ms-expand {
		display: none;
	}

	&[multiple] {
		height: auto;
		background-image: none;
	}
}

// Создание ckeckbox
@mixin checkbox($color-bg, $border, $img-checked) {
	$color-bg-hover: darken($color-bg, 4%);

	@include hover {
		cursor: pointer;
		transition: all 0.2s linear;
		outline: none;
		background-color: $color-bg-hover;
	}
	@include focus {
		transition: all 0.2s linear;
		outline: none;
		background-color: $color-bg-hover;
	}

	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	border: $border;
	background: $color-bg no-repeat center;
	background-origin: content-box;
	background-size: 12px 12px;

	appearance: none;

	&:checked,
	.checked {
		background-image: url($img-checked);
	}
}

// Создание radio
@mixin form-radio($color-bg, $border, $img-checked) {
	$color-bg-hover: darken($color-bg, 4%);

	@include hover {
		cursor: pointer;
		transition: all 0.2s linear;
		outline: none;
		background-color: $color-bg-hover;
	}
	@include focus {
		transition: all 0.2s linear;
		outline: none;
		background-color: $color-bg-hover;
	}

	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	border: $border;
	border-radius: 50%;
	background: $color-bg no-repeat center;
	background-origin: content-box;
	background-size: 12px 12px;

	appearance: none;

	&:checked,
	.checked {
		background-image: url($img-checked);
	}
}

// Создание range slider
@mixin form-range($size-pointer, $bg-slider, $bg-pointer, $size-pointer) {
	position: relative;
	margin: 0 auto;
	padding: 0;
	outline: 0;
	background: $bg-slider;

	.range-pointer {
		position: absolute;
		z-index: 2;
		top: $size-pointer;
		left: 0;
		width: $size-pointer;
		height: $size-pointer;
		cursor: pointer;
		transform: translate(0, -50%);
		background: $bg-pointer;
	}
}

// Создание класса для валидации форм
@mixin form-validate($color-text, $color-bg, $color-border) {
	@include hover {
		color: $color-text;
		border-color: $color-border;
		background-color: $color-bg;
	}
	@include focus {
		color: $color-text;
		border-color: $color-border;
		background-color: $color-bg;
	}

	transition: all 0.2s linear;
	color: $color-text;
	border-color: $color-border;
	background-color: $color-bg;
}
