// ==========================================================================
// Компонент анимации
// ==========================================================================

// Создание анимации.
// name - тип анимации (pulse, rotate, fadeIn, fadeOut)
// duration - скорость анимации
// iteration - количество повторений
@mixin animated($name, $duration: 1s, $iteration: 1) {
	animation-duration: $duration;
	animation-timing-function: linear;
	animation-iteration-count: $iteration;

	animation-name: $name;
	animation-fill-mode: both;

	@if ($name == 'pulse') {
		@keyframes pulse {
			0% {
				-webkit-transform: scale3d(1, 1, 1);
				    -ms-transform: scale3d(1, 1, 1);
				        transform: scale3d(1, 1, 1);
			}
			50% {
				-webkit-transform: scale3d(1.05, 1.05, 1.05);
				    -ms-transform: scale3d(1.05, 1.05, 1.05);
				        transform: scale3d(1.05, 1.05, 1.05);
			}
			100% {
				-webkit-transform: scale3d(1, 1, 1);
				    -ms-transform: scale3d(1, 1, 1);
				        transform: scale3d(1, 1, 1);
			}
		}
	}

	@if ($name == 'rotate') {
		@keyframes rotate {
			from {
				-webkit-transform: rotate(0);
				        transform: rotate(0);
			}

			to {
				-webkit-transform: rotate(360deg);
				        transform: rotate(360deg);
			}
		}
	}

	@if ($name == 'fadeIn') {
		@keyframes fadeIn {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}

	@if ($name == 'fadeOut') {
		@keyframes fadeOut {
			0% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
	}
}
