// ==========================================================================
// Компонент - типография
// ==========================================================================

// Подгрузка шрифтов
@mixin font-face($name, $path, $exts: eot woff2 woff ttf svg, $weight: normal, $style: normal) {
	$src: null;
	$extmods: (
	eot: '?',
	svg: '#' + str-replace($name, ' ', '_')
	);
	$formats: (
	otf: 'opentype',
	ttf: 'truetype'
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-weight: $weight;
		font-style: $style;

		src: $src;
	}
}

// Для создания параметров шрифта
@mixin font($color, $size, $family, $line-height: normal, $letter-spacing: normal, $weight: normal, $style: normal) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
	font-style: $style;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
	color: $color;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Адаптивный размер шрифта
@mixin font-adaptive($font-size, $width-container, $line-height: null, $letter-spacing: null) {
		font-size: $font-size / $width-container * 100vmin;
		
		@if ($line-height != null) {
			line-height: $line-height / $width-container * 100vmin;
		}
		@if ($letter-spacing != null) {
			letter-spacing: $letter-spacing / $width-container * 100vmin;
		}
}
