//@include('./partials/header.html')

div.slider
    div.slider-body
        div.slide test 1
        div.slide test 2
        div.slide test 3
        div.slide test 4

div.button.button-prev Prev Slide
div.button.button-next Next Slide
div.button.button-open(data-id='4') Open Slide

div.block-height
    test

img.lazy-img(data-src='./assets/img/default/select-arrow.png')

//@include('./partials/footer.html')
