include ./partials/header


div.modal.js-modal
    div.modal-body
        p test test test

button.button.js-filter(data-target='1') Target 1
button.button.js-filter(data-target='2') Target 2

br
br

div.js-content(data-actor='1') content 1
div.js-content(data-actor='2') content 2

br
br

input.js-input(type='text', value='1', data-valid='2')
input.js-input(type='number', value='12', data-valid='2')
input.js-input(type='tel', value='123', data-valid='2')
input.js-input(type='password', value='1234', data-valid='2')
input.js-input(type='checkbox', value='1234', data-valid='true')


include ./partials/modals

include ./partials/footer
