//@include('./partials/header.html')

p.test(data-target="test")
    | Testing message
    b.test2  test2

form.ajax-form
    input.text(type="text", value="122", data-valid='4')
    input.button.submit(type='submit', value='Send')

//@include('./partials/footer.html')
