include ../blocks/default/head

div#app
	p  {{ message }}

h1 H1 TITLE ЗАГОЛОВОК / h1 title заголовок
h2 H2 TITLE ЗАГОЛОВОК / h2 title заголовок
h3 H3 TITLE ЗАГОЛОВОК / h3 title заголовок
h4 H4 TITLE ЗАГОЛОВОК / h4 title заголовок
h5 H5 TITLE ЗАГОЛОВОК / h5 title заголовок
h6 H6 TITLE ЗАГОЛОВОК / h6 title заголовок

br
br

p PARAGRAPH ПАРАГРАФ / paragraph параграф
span SPAN СПАН / span спан

br

small SMALL МАЛЕНЬКИЙ / small маленький

br

a(href='#' data-id='test' target='blank') LINK ССЫЛКА / link ссылка

br
br

form(action='#' method='post')
	input(type='text' name='name' placeholder='Введи текст')
	input(type='text' name='name' placeholder='Введи текст')
	input(type='text' name='name' placeholder='Введи текст')
	button.button(type='submit') Отправить с формы

include ../blocks/default/foot
