// ==========================================================================
// Вспомогательные миксины
// ==========================================================================

// Размеры элемента
@mixin size($width, $height: auto) {
	width: 100%;
	max-width: $width;
	height: $height;
}

// Наведение на элемент
@mixin hover {
	&:hover,
	.hover {
		@content;
	}
}

// Фокус на элемент
@mixin focus {
	&:focus,
	.focus {
		@content;
	}
}

// Псевдоэлемент after
@mixin after {
	&:after,
	.after {
		content: '';
		@content;
	}
}

// Псевдоэлемент before
@mixin before {
	&:before,
	.before {
		content: '';
		@content;
	}
}

// Скрыть с экрана
@mixin hide {
	display: none !important;
	visibility: hidden !important;
}

// Отцентровать элемент
@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// Медиа запросы
@mixin media($max-width, $min-width: 0) {
	@if ($min-width > 0) {
		@media (min-width: $min-width) and (max-width: $max-width) {
			@content;
		}
	}
	@else {
		@media (max-width: $max-width) {
			@content;
		}
	}
}
