// ==========================================================================
// Вспомогательные миксины
// ==========================================================================

// Создание контейнера
@mixin container($max-width: inherit, $height: auto, $margin: 0) {
	width: 100%;
	display: block;
	max-width: $max-width;
	height: $height;
	margin: $margin auto;
}

// Создание сетки
@mixin grid($max-width: inherit, $direction: row, $align-items: center, $wrap: nowrap) {
	display: flex;
	flex-direction: $direction;
	align-items: $align-items;
	flex-wrap: $wrap;
}

// Столбец сетки
@mixin column($width: 1, $padding: 0, $margin: 0) {
	flex: $width;
	padding: $padding;
	$margin: $margin;
	box-sizing: border-box;
}

// Размеры элемента
@mixin size($width, $height: auto) {
	width: 100%;
	max-width: $width;
	height: $height;
}

// Наведение на элемент
@mixin hover {
	&:hover,
	.hover {
		@content;
	}
}

// Фокус на элемент
@mixin focus {
	&:focus,
	.focus {
		@content;
	}
}

// Псевдоэлемент after
@mixin after {
	&:after,
	.after {
		content: '';
		@content;
	}
}

// Псевдоэлемент before
@mixin before {
	&:before,
	.before {
		content: '';
		@content;
	}
}

// Скрыть с экрана
@mixin hide {
	display: none !important;
	visibility: hidden !important;
}

// Медиа запросы
@mixin media($max-width, $min-width: 0) {
	@if ($min-width > 0) {
		@media (min-width: $min-width) and (max-width: $max-width) {
			@content;
		}
	}
	@else {
		@media (max-width: $max-width) {
			@content;
		}
	}
}
