// ==========================================================================
// Глобальные переменные и настройки
// ==========================================================================

// Рабочая область
$width-container: rem(1200);

// Премиальный цвет сайта
$color-primary: #6ebdff;
$color-primary-invert: #38cc9b;

// Акцентный цвет сайта
$color-accent: #6ebdff;
$color-accent-invert: #38cc9b;

// Цвета фона
$color-bg: #fff;
$color-bg-invert: #f6fbff;

// Вертикальный ритм сайта
$vg: rem(6);

// Стандартный размер текста на сайте
$font-size-normal: rem(16);
$font-size-small: rem(14);

// Размеры заголовков
$font-size-h1: rem(48);
$font-size-h2: rem(40);
$font-size-h3: rem(31);
$font-size-h4: rem(25);
$font-size-h5: rem(20);
$font-size-h6: rem(16);

// Шрифты для текста
$font-family-normal: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

// Шрифты для заголовка
$font-family-headers: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

// Цвет стандартного шрифта
$color-text-normal: #272727;

// Цвет инвертированного шрифта
$color-text-invert: #fff;

// Цвет ссылок
$color-link-normal: #000;

// Подчеркивание ссылок
$link-option-text-decoration: true;

//
// Адаптивность
//

// Активация адаптивности
$adaptive-option-enable: true;

// Мобильные устройства
$adaptive-width-mobile: rem(640);

// Ноутбуки
$adaptive-width-notebook: rem(1500);

// Мониторы
$adaptive-width-desktop: rem(2800);

//
// Компонент - сетка
//

// ...

//
// Компонент - кнопка
//

// Стандартный цвет кнопки
$button-color-bg: #e0e1e2;

// Закругление краев
$button-border-radius: rem(2);

// Внутренние отступы
$button-padding: rem(6) rem(15);

// Размер обводки у кнопки
$button-border-size: rem(1) solid;

// Тень кнопки
$button-option-shadow: true;
$button-shadow-size: rem(1) rem(1) rem(1);

// Цвет для эффекта поблескивания кнопки
$button-blink-background: rgba(255, 255, 255, 0.3);

//
// Компонент - модальное окно
//

// Цвет оверлея
$modal-color-overlay: rgba(0, 0, 0, 0.3);

// Цвет фона модального окна
$modal-color-bg: #fff;

// Ширина модального окна
$modal-max-width: rem(500);

// Внутренний отступ модального окна
$modal-padding: rem(20);

// Закругление краев
$modal-border-radius: rem(6);

//
// Компонент - форма
//

// Размер элементов формы
$form-spacing: rem(12);

// Цвет текста
$form-color-font: #000;

// Цвет фона
$form-color-bg: #e0e1e2;

// Обводка
$form-border-size: rem(1) solid;

// Закругление краев
$form-border-radius: rem(4);

// Тень
$form-option-shadow: true;
$form-shadow-size: rem(1) rem(1) rem(1);

// Изображение стрелки для выпадающего списка select
$form-select-img-dropdown: '../img/default/select-arrow.png';

// Изображение checked для checkbox
$form-checkbox-img-checked: '../img/default/checkbox-checked.png';

// Изображение checked для radio
$form-radio-img-checked: '../img/default/radio-checked.png';

// Высота полосы для range slider
$form-slider-range-height: rem(14);

// Размер поинтера в range slider
$form-slider-range-pinter-size: rem(28);

//
// Компонент - ленивая загрузка
//

// Цвет фона прелоадера
$lazy-preloader-bg: #000;

// Изображение в центре экрана прелоадера
$lazy-preloader-logo-img: '../img/default/preloader.gif';
