// ==========================================================================
// Компонент слайдер
// ==========================================================================

@mixin slider-main($width, $height) {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	max-width: $width;
	height: $height;
}

@mixin slider-body($width, $height, $transition: all 0.5s linear) {
	position: relative;
	top: 0;
	right: 0;
	display: flex;
	width: $width;
	max-width: $width;
	height: $height;
	transition: $transition;
}

@mixin slider-slide($width, $height, $padding: 0) {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	box-sizing: border-box;
	width: $width;
	min-width: $width;
	max-width: $width;
	height: $height;
	margin: 0;
	padding: $padding;

	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
}
